@tailwind base;
@tailwind components;
@tailwind utilities;

/* Hide scrollbar for all browsers */
html {
  overflow: -moz-scrollbars-none;
  scrollbar-width: none;
}
html::-webkit-scrollbar {
  display: none;
}
.no-scroll {
  overflow: -moz-scrollbars-none;
  scrollbar-width: none;
}
.no-scroll::-webkit-scrollbar {
  display: none;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn-hover:hover {
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  background-image: linear-gradient(to bottom right, #9333ea, #3b82f6);
  transition: color 0.1s, transform 0.1s ease-in-out;
  transform: translateY(-1px);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}
.text-primary {
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  background-image: linear-gradient(to bottom right, #9333ea, #3b82f6);
}

.bg-gradient {
  background: linear-gradient(to right, #8250c8, #0075ff);
}

.border-gradient {
  border: 2px solid;
  border-image: linear-gradient(to right, #8250c8, #0075ff);
  border-image-slice: 1;
  --tw-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
  --tw-shadow-colored: 0 1px 3px 0 var(--tw-shadow-color),
    0 1px 2px -1px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
    var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}
